a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.menu-link-item {
  text-decoration: "none";
  margin: "auto";
}

.menu-link-item:visited {
  text-decoration: "none";
}
